#
# App dependencies/libraries for PyPI
#

# Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions
Flask>=0.10

# Flask modules for Web Forms
Flask-WTF>=0.9.3

# WSGI + Supervisor
Gunicorn>=18.0
Supervisor>=3.2
